src/main/resources/wsdl/Cv.wsdl

<?xml version="1.0"?>
<wsdl:definitions
                  name = "CV"
                  targetNamespace="http://medium.com/types/cv"
                  xmlns:tns="http://medium.com/cv"
                  xmlns:types="http://medium.com/types/cv"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <xs:schema
                targetNamespace="http://medium.com/types/cv"
                xmlns:xs="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://medium.com/cv"
                elementFormDefault="qualified"
                attributeFormDefault="unqualified"
                version="1.0">

            <xs:element name="GeneralInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="dateOfBirth" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="phone" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:simpleType name="AcademicDegree">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="BACHELOR"/>
                    <xs:enumeration value="MASTER"/>
                    <xs:enumeration value="PHD"/>
                </xs:restriction>
            </xs:simpleType>
            
            <xs:complexType name="EducationInfo">
                <xs:sequence>
                    <xs:element name="degree" type="types:AcademicDegree" />
                    <xs:element name="year" type="xs:int"/>
                    <xs:element name="university" type="xs:string"/>
                    <xs:element name="studies" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            
            <xs:element name="EducationList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="EducationInfo" nillable="true" type="types:EducationInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="WorkingExperienceInfo">
                <xs:sequence>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element name="position" type="xs:string"/>
                    <xs:element name="yearStart" type="xs:int"/>
                    <xs:element name="yearEnd" type="xs:int"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            
            <xs:element name="WorkingExperinceList">
                <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkingExperienceInfo" nillable="true" type="types:WorkingExperienceInfo"/>
                        </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="SkillsList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillInfo" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="GeneralInfoResponse">
        <wsdl:part name="outputData" element="types:GeneralInfo" />
    </wsdl:message>

    <wsdl:message name="EducationResponse">
        <wsdl:part name="outputData" element="types:EducationList" />
    </wsdl:message>
    
    <wsdl:message name="WorkingExperienceResponse">
        <wsdl:part name="outputData" element="types:WorkingExperienceList" />
    </wsdl:message>

    <wsdl:message name="SkillsResponse">
        <wsdl:part name="outputData" element="types:SkillsList" />
    </wsdl:message>

    <wsdl:portType name="CvPortType">
        <wsdl:operation name="GetGeneralInfo">
            <wsdl:output message="tns:GeneralInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetEducation">
            <wsdl:output message="tns:EducationResponse" />
        </wsdl:operation>
        <wsdl:operation name="WorkingExperience">
            <wsdl:output message="tns:WorkingExperienceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetSkills">
            <wsdl:output message="tns:SkillsResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CvSoapBinding" type="tns:CvPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetGeneralInfo">
            <soap:operation soapAction="http://medium.com/cv/GetGeneralInfo" />
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetEducation">
            <soap:operation soapAction="http://medium.com/cv/GetEducation" />
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="WorkingExperience">
            <soap:operation soapAction="http://medium.com/cv/WorkingExperience" />
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSkills">
            <soap:operation soapAction="http://medium.com/cv/GetSkills" />
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="CvService">
        <wsdl:documentation>CV Service</wsdl:documentation>
        <wsdl:port name="CvPortType" binding="tns:CvSoapBinding">
            <soap:address location="http://localhost:8082/ws/calculatorDemo" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
